@import url("bootstrap.css");

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.container {
	width:97%;
	margin: 10px;
	padding: 10px;
}

.sidebar-nav {
	padding: 9px 0;
}

table {
	width: 100%;
	background-color:#fff;
    border-collapse: collapse;
}

table th {
	color: #0088dd;
	text-transform: uppercase;
}

table tbody tr td input {
	margin: 2px 2px;
	width: 90%;
}

table input[type="text"] {
	margin-bottom: 1px;
}

.grid-inputs {
	white-space:nowrap;
	text-align:left;
	vertical-align:top;
}

fieldset select {
	margin-top:10px;
}

.grid-elements {
	float:right;
	margin-right:5px;
	clear:both;
}