@import url("bootstrap.css");

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.container {
	width:97%;
	margin: 10px;
	padding: 10px;
	background: #f9f9f9;
}

.sidebar-nav {
	padding: 9px 0;
}

table {
	width: 100%;
	background-color:#fff;
    border-collapse: collapse;
}

table th {
	color: #0088dd;
}

table td, table th
{
    padding:5px;
}